<%= form_for(@customer) do |f| %>
	<%= f.label :name, 'Customer Name: ' %>
	<%= f.text_field :name %>
	<ul class="button-group radius">
		<li><%= f.submit class: 'button small success radius' %></li>
		<li><%= link_to 'Nevermind', customers_path, class: 'button small secondary radius' %></li>
	</ul>
<% end %>